<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-ios-photo-permissions" version="1.0.4" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Photo Permissions</name>
    <author>Chris Durfee</author>
    <description>Cordova plugin to add the ios photo permissions.</description>
    <keywords>cordova ios photo permissions</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
     <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
         <string>Photo library may be used.</string>
     </config-file>
     <config-file parent="NSContactsUsageDescription" target="*-Info.plist">
	    <string>App needs access to your contacts.</string>
     </config-file>
     <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
	     <string>App uses your microphone to record media.</string>
     </config-file>
 </platform>
</plugin>
